.content_center {
	margin: 30px;
	background-color: rgb(106, 171, 60);
	height: 105vh;
	width: 80%;
	box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.center_title {
	color: white;
	font-size: 50px;
	padding: 20px;
}

.questions_all {
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
}

.questions_block {
	display: flex;
 	flex-direction: column;
 	flex-wrap: wrap;
}

.question_q {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.question {
	border: solid white 2px;
	padding: 10px;
	margin: 10px;
	color: white;
}


.question_title {
	font-size: 17px;
	padding: 5px;
}

.question_text {
	color: rgb(17, 73, 12);
	font-size: 17px;
	padding: 5px;
}

.question_img {
	height: 75px;
}